@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

html {
  font-size: 60%;
  box-sizing: border-box;
}
body {
  margin: 2%;
  height: 100vh;
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  height: 100%;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}
header {
  grid-area: header; /* connecting to header */
  background-color: whitesmoke;
}
main {
  grid-area: main;
  padding: 1rem;
}
footer {
  grid-area: footer;
  background-color: whitesmoke;
  color: black;
}
h3 {
  font-size: 1.8rem;
  padding: 1rem 0;
  text-decoration: none;
}
h2 {
  font-size: 1.6rem;
  padding: 1rem 0;
  text-decoration: none;
}

a {
  text-decoration: none;
}
a:hover {
  color: pink;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
li {
  margin-top: 1rem;
}

input,
select,
textarea,
button {
  padding: 1rem;
  border-radius: 0.5rem;

  border-width: 0.1px;
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  background-color: whitesmoke;
  cursor: pointer;
}

button.primary {
  background-color: transparent;
}

button.block {
  width: 100%;
}

input:hover,
select:hover,
textarea:hover,
button:hover {
  border-color: pink;
  border-width: 0.1px;
  /* background-color: pink; */
}

header a {
  color: pink;
  padding: 1rem;
}
a.brand {
  color: pink;
  font-size: 3rem;
  font-weight: bold;
}
.badge {
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 0.2rem 0.7rem;
  font-size: 1.4rem;
  margin-left: 0.2rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.row.center {
  justify-content: center;
}

.row.top {
  align-items: flex-start;
}

.col-1 {
  flex: 1 1 20rem;
}
.col-2 {
  flex: 2 1 20rem;
}
.min-30 {
  min-width: 30rem;
}

img {
  border-radius: 0.5rem;
}
img.medium {
  max-width: 290rem;
  width: 80%;
}
img.large {
  width: 80%;
  align-self: center;
}
img.small {
  max-width: 5rem;
  width: 100%;
}

.card {
  border: 0.1rem;
  background-color: white;
  border-radius: 0.5rem;
  margin: 1rem;
}
.card-body {
  padding: 1rem;
}
.card-body > * {
  margin-bottom: 0.5rem;
}
.price {
  font-size: 2rem;
  font-weight: bold;
}

.rating span {
  color: pink;
  margin: 0.1rem;
}
.rating span:last-child {
  color: black;
}

.loading {
  display: block !important;
}
.success {
  color: black;
}
.danger {
  color: grey;
}
.alert {
  padding: 1rem;
  border-radius: 0.5rem transparent;
}
.alert-info {
  color: grey;
}
.alert-danger {
  color: red;
}

.form {
  max-width: 60rem;
  margin: 0 auto;
}
.form > div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.form label {
  margin: 1rem 0;
}
.droptown {
  display: inline-block;
  position: relative;
}
.droptown-content {
  position: absolute;
  display: none;
  right: 0;
  min-width: 12rem;
  padding: 1rem;
  z-index: 1;
  background-color: white;
  margin: 0;
  margin-top: 0.4rem;
  border-radius: 0.5rem;
}
.droptown:hover .droptown-content {
  display: block;
}

.checkout-steps > div {
  border-top: 0.3rem grey solid;
  color: whitesmoke;
  flex: 1;
  padding: 1rem;
  font-weight: bold;
}
.checkout-steps > div.active {
  border-top-color: pink;
  color: pink;
}
